.header{
    font-size: 30px;
}
.title {
    color:blueviolet;
    font-size: 50px;
    margin-left:70px;
}

.tsumu {
    margin-top:50px;
    margin-left:50px;
}

.main {
    color:blueviolet;
    font-size: large;
}
